POSTGRES_DB=inn
POSTGRES_USER=inn
POSTGRES_PASSWORD=inn_local
POSTGRES_PORT=5432
REDIS_PORT=6379
API_PORT=8000
WEB_PORT=3000
PUBLIC_SITE_URL=http://localhost:3000
PUBLIC_MANAGE_URL=http://localhost:8000/manage
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
DOCUMENT_DISK=documents
DOCUMENT_RENDERER=dompdf
DOCUMENT_PDFINFO_BINARY=pdfinfo
DOCUMENT_EXPORT_TTL_DAYS=7
DOCUMENT_JOB_QUEUE=documents
DOCUMENT_JOB_TIMEOUT=90
DOCUMENT_JOB_TRIES=3
DOCUMENT_JOB_RETRY_FOR_MINUTES=15
DOCUMENT_JOB_OVERLAP_EXPIRE_AFTER=240
DOCUMENT_EXPORT_JOB_QUEUE=reports
DOCUMENT_EXPORT_JOB_TIMEOUT=180
DOCUMENT_EXPORT_JOB_TRIES=3
DOCUMENT_EXPORT_JOB_RETRY_FOR_MINUTES=30
DOCUMENT_EXPORT_JOB_OVERLAP_EXPIRE_AFTER=300
