parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$capacity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$display_color\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$first_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$last_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$property_id\.$#'
			identifier: property.notFound
			count: 7
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isBuyout\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Cannot call method greaterThan\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Cannot call method lessThan\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Allocation\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Using nullsafe property access "\?\-\>capacity" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Projections/CalendarProjectionService.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Illuminate\\Database\\Eloquent\\Model\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Services/Projections/CalendarProjectionService.php
